.container {
  max-width: 1200px;
  /* margin: auto; */

}

.posts {
  flex: 9;
  height: calc(100vh - 80px)  ;
  overflow-y: scroll;
  padding: 5px;
}
.homeRightBar {
  flex: 3;

  box-sizing: border-box;
  margin-left: 20px;
  padding: 5px;
}
.homeMain {
  margin-top: 90px;
  display: flex;
 
}


@media screen and (max-width:720px) {
  .homeMain{
    flex-direction: column;
  }
  .homeRightBar{
      margin-left: 0px;
      margin-top: 20px;



  }
  
}