.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registerBox {
  width: 400px;
  height: 420px;
  padding: 15px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 30px 8px #010405;
  box-shadow: 1px 1px 30px 8px #010405;
  background-color: white;
}
.registerBox h2 {
  text-align: center;
}
.registerBox form {
  display: flex;
  flex-direction: column;
}
.registerBox input {
  border: none;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  letter-spacing: 1.1px;
  border-bottom: 2px solid rgb(85, 85, 85);
}
.registerBox p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
.registerBox p span {
  color: var(--primary-color);
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}
.registerBtn {
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}
.registerBtn:hover {
  -webkit-box-shadow: 1px 1px 30px 8px var(--primary-color);
  box-shadow: 1px 1px 30px 8px var(--primary-color);
}
.registerBox input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

@media screen and (max-width: 450px) {
  .registerBox {
    width: 350px;
    height: 450px;
    box-sizing: border-box;
  }
}
